html {
  scroll-padding-top: 85px;
}

body {
  background-color: initial;
  color: inherit;
  font-family: sans-serif;
}

dd {
  font-family: inherit !important;
  margin: revert !important;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-style: normal;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 10px 0;
}

pre {
  font-family: monospace;
}

.fixedNav {
  background-color: black;
}

.bottomNav, .topNav {
  background-color: #4072b1;
  height: auto;
  padding: 0;
}

ul.navList, ul.nav-list {
  margin: 0;
  padding: 0;
}

.navBarCell1Rev {
  background-color: #F8981D;
  margin: 0;
}

.overviewSummary caption span, .memberSummary caption span, .typeSummary caption span, .useSummary caption span,
  .constantsSummary caption span, .deprecatedSummary caption span, .requiresSummary caption span,
  .packagesSummary caption span, .providesSummary caption span, .usesSummary caption span {
  background-color: #F8981D;
}

.memberSummary caption span.tableTab span, .packagesSummary caption span.tableTab span,
  .overviewSummary caption span.tableTab span, .typeSummary caption span.tableTab span {
  background-color: #4072b1;
}

ul.navList li, ul.nav-list li {
  margin: 0;
  padding: 7px 15px;
}

.navPadding {
  padding-top: 70px !important;
}

.description pre {
  margin-top: 1em;
}

div.block {
  font-family: inherit;
  color: inherit;
}

div.block>span.descfrmTypeLabel, span.descfrmTypeLabel>code {
  font-size: smaller;
}

div.block:has(span.descfrmTypeLabel) {
  color: #4E4E4E;
  margin-bottom: 10px;
}

.contentContainer .description dl dt, .contentContainer .details dl dt, .serializedFormContainer dl dt
  {
  font-size: smaller;
}

.subNav {
  background-color: #bdd0e8;
}

.subNav div {
  padding: 0;
}

ul.subNavList {
  padding: 5px 15px;
}

main {
  padding: 0 20px;
}

.header {
  margin: 0;
}

.contentContainer, .sourceContainer, .classUseContainer, .serializedFormContainer, .constantValuesContainer, .allClassesContainer, .allPackagesContainer {
  padding: 5px 0;
}

ul.blockList li.blockList, ul.blockListLast li.blockList {
  line-height: 1.2;
}

ul.blockList ul.blockList li.blockList, ul.blockList ul.blockListLast li.blockList {
  background-color: inherit;
  border: 0;
  padding: 0;
}

section>ul.blockList>li.blockList, section>ul.blockListLast>li.blockList {
  margin-top: 50px;
}

ul.blockList ul.blockList li.blockList h3 {
  border: 0 !important;
  text-align: center;
}

ul.blockList ul.blockList ul.blockList li.blockList, ul.blockList ul.blockList ul.blockListLast li.blockList
  {
  background-color: inherit;
  padding: 0 0 0 8px;
}

ul.blockList ul.blockList ul.blockList li.blockList h3 {
  background-color: #869ab2;
  color: white;
  font-size: 15px;
  margin: 0 0 6px -8px;
  padding: 7px 10px;
  text-align: left !important;
}

div.details ul.blockList ul.blockList ul.blockList li.blockList h4, div.details ul.blockList ul.blockList ul.blockListLast li.blockList h4
  {
  background-color: #869ab2;
  border: 0;
  color: white;
  font-size: 15px;
  margin: 0 0 6px -8px;
  padding: 7px 10px;
}

a[name]::before, a[name]:target, a[id]::before, a[id]:target {
  display: inherit;
}

#allclasses_navbar_top, #skip\.navbar\.top, #allclasses_navbar_bottom, #skip\.navbar\.bottom {
  display: none !important;
}

.memberSummary caption span.tableTab span, .packagesSummary caption span.tableTab span,
  .overviewSummary caption span.tableTab span, .typeSummary caption span.tableTab span {
  height: auto;
  padding: 5px 20px;
}

.memberSummary caption span.activeTableTab span, .packagesSummary caption span.activeTableTab span,
  .overviewSummary caption span.activeTableTab span, .typeSummary caption span.activeTableTab span {
  height: auto;
  padding: 5px 20px;
}

.overviewSummary caption span, .memberSummary caption span, .typeSummary caption span, .useSummary caption span,
  .constantsSummary caption span, .deprecatedSummary caption span, .requiresSummary caption span,
  .packagesSummary caption span, .providesSummary caption span, .usesSummary caption span {
  height: auto;
  padding: 5px 20px;
}

th.colFirst, th.colSecond, th.colLast, th.colConstructorName, th.colDeprecatedItemName, .useSummary th,
  .constantsSummary th, .packagesSummary th, td.colFirst, td.colSecond, td.colLast, .useSummary td,
  .constantsSummary td {
  background-color: #869ab2;
  color: white;
  padding: 7px 5px;
}

th.colFirst, th.colSecond, th.colLast, th.colConstructorName, th.colDeprecatedItemName, .useSummary th,
  .constantsSummary th, .packagesSummary th, td.colFirst, td.colSecond, td.colLast, .useSummary td,
  .constantsSummary td {
  vertical-align: middle;
}

.overviewSummary td.colFirst, .overviewSummary th.colFirst, .requiresSummary td.colFirst,
  .requiresSummary th.colFirst, .packagesSummary td.colFirst, .packagesSummary td.colSecond,
  .packagesSummary th.colFirst, .packagesSummary th, .usesSummary td.colFirst, .usesSummary th.colFirst,
  .providesSummary td.colFirst, .providesSummary th.colFirst, .memberSummary td.colFirst,
  .memberSummary th.colFirst, .memberSummary td.colSecond, .memberSummary th.colSecond,
  .memberSummary th.colConstructorName, .typeSummary td.colFirst, .typeSummary th.colFirst {
  vertical-align: middle;
}

td.colFirst, th.colFirst {
  padding: 0 5px !important;
}

.overviewSummary td, .memberSummary td, .typeSummary td, .useSummary td, .constantsSummary td,
  .deprecatedSummary td, .requiresSummary td, .packagesSummary td, .providesSummary td, .usesSummary td
  {
  padding: 3px 5px !important;
}

li.blockList>pre {
  font-size: 16px;
}

.colLast {
  width: 100%;
}

.altColor, .altColor td, .altColor th {
  background-color: inherit;
  color: inherit;
  border-top: 1px #b0b0b0 solid;
}

.rowColor, .rowColor td, .rowColor th {
  background-color: inherit;
  color: inherit;
  border-top: 1px #b0b0b0 solid;
}

.overviewSummary, .memberSummary, .typeSummary, .useSummary, .constantsSummary, .deprecatedSummary,
  .requiresSummary, .packagesSummary, .providesSummary, .usesSummary {
  border: 0;
}

.overviewSummary caption, .memberSummary caption, .typeSummary caption, .useSummary caption,
  .constantsSummary caption, .deprecatedSummary caption, .requiresSummary caption, .packagesSummary caption,
  .providesSummary caption, .usesSummary caption {
  padding: 0;
}

ul.navListSearch li {
  padding: 3px 15px 0;
}

#reset {
  background-color: transparent;
}

.legalCopy {
  float: left;
  margin: 0;
  padding: 10px;
}

ul.ui-autocomplete {
  background-color: revert;
}

.ui-autocomplete-category {
  background-color: #4072b1;
}