name: Java CI with Maven

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up build JDK
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Set up tool JDK
      uses: actions/setup-java@v5
      with:
        java-version-file: '.tool-versions'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn --batch-mode verify
    - name: Submit Dependency Snapshot
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: advanced-security/maven-dependency-submission-action@v5
