#
# On demand, publishes the provided release version to Maven Central repository.
#
# Maintainers' post-activities:
# 1. the RELEASE COMPONENTS are uploaded to Maven Central for validation: verify and publish them.
# 2. the RELEASE BRANCH is automatically created to include release preparation commits: verify and
#    merge it to `main`, and finally discard it.
# 3. the GITHUB RELEASE is created as draft: verify and publish it.
#
name: Release

on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Version to release (semver2)'
        type: string
        required: true
      scm_startpoint:
        description: 'Release branch start point (by default, main HEAD)'
        type: string
        required: false

permissions:
  contents: write

env:
  COMMITIZEN_VERSION: '4.10.0'
  RELEASE_TAG: v${{ inputs.revision }}
  RELEASE_VERSION: ${{ inputs.revision }}
  REPO_TITLE: 'pdfClown Common'

jobs:
  release:
    name: Publish release
    runs-on: ubuntu-latest
    env:
      JAVA_DISTRO: 'temurin'
      JAVA_VERSION: '17'

    steps:
      - name: Checkout (full history)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "commitizen==${{ env.COMMITIZEN_VERSION }}"

      - name: Set up build JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven

      - name: Set up tool JDK
        uses: actions/setup-java@v5
        with:
          java-version-file: '.tool-versions'
          distribution: ${{ env.JAVA_DISTRO }}
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Check state
        id: check_state
        run: |
          echo "build_deps_local=$([ -d pdfclown-common-build ] && echo true || echo false)" >> $GITHUB_OUTPUT

      - name: Install local dependencies
        # NOTE: The release executor requires pdfclown-common-build; if such dependency is local, it
        #       has to be explicitly installed before executing the release (it cannot be included
        #       in the automated release process because of circular reference issues).
        if: steps.check_state.outputs.build_deps_local == 'true'
        run: ./mvnw install --batch-mode --errors -pl pdfclown-common-build -am -Pfast+

      - name: Configure SCM
        run: |
          git config user.name "pdfClown.org CI"
          git config user.email "stechio@users.noreply.github.com"

      - name: Publish with Maven
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}
        run: |
          ./mvnw initialize --batch-mode --errors -N -Prelease \
              -Drelease.version=$RELEASE_VERSION \
              -Drelease.startpoint=${{ inputs.scm_startpoint }}

      - name: Create GitHub Release (draft)
        # NOTE: Generated notes are configured via `.github/release.yml`.
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$RELEASE_TAG" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$REPO_TITLE $RELEASE_VERSION" \
              --generate-notes \
              --fail-on-no-commits \
              --draft
